* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f2f4f8;
    padding: 40px;
}

.layout {
    max-width: 1100px;
    margin: auto;
    display: flex;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

/* SIDEBAR */
.sidebar {
    width: 30%;
    background: linear-gradient(180deg, #111, #1f1f1f);
    color: white;
    padding: 40px 30px;
}

.sidebar h1 {
    font-size: 22px;
    margin-bottom: 30px;
}

.sidebar h1 span {
    font-weight: 300;
    color: #4da3ff;
}

.bloco {
    margin-bottom: 30px;
}

.bloco h3 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

.bloco ul {
    list-style: none;
}

.bloco li::before {
    content: "▸ ";
    color: #4da3ff;
}

.sidebar a {
    color: #4da3ff;
    text-decoration: none;
}

/* CONTEÚDO */
.conteudo {
    width: 70%;
    padding: 40px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card h2 {
    color: #007bff;
    border-left: 4px solid #007bff;
    padding-left: 10px;
    margin-bottom: 15px;
}

.card ul {
    padding-left: 20px;
}

.card li {
    margin-bottom: 8px;
}

.card h4 {
    margin-bottom: 8px;
}

.card a {
    color: #007bff;
    font-weight: 500;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}
.sidebar a {
    color: #4da3ff;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}
